<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://zergdesk.example/ZergDesk" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"/>
    <tizen:application id="zergdesk10.ZergDesk" package="zergdesk10" required_version="2.3.1"/>
    <tizen:category name="http://tizen.org/category/wearable_clock"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>ZergDesk</name>
    <tizen:profile name="wearable"/>
</widget>
